:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  position: relative;
  padding: 1rem 1.5rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.25rem;
}

main {
  flex: 1;
  min-height: 0;
}

.session {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
