:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding: 1rem 1.5rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.25rem;
}

main {
  flex: 1;
  min-height: 0;
}

.app-sidenav-container {
  height: 100%;
}

.app-sidebar {
  width: 40%;
  padding: 0 2rem;
}
